.navbarContent nav {
  text-align: right;
  margin-right: 30px;
}

.navbarContent ul {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  background-color: pink;
}

.navbarContent ul li a {
  text-decoration: none;
}

.navbarContent ul li a:hover {
  color: white;
}

.logo {
  padding: 30px;
  width: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: flex-start;
}

li {
  text-decoration: none;
  list-style-type: none;
  font-size: 3rem;
}
