.card {
  background-color: #f5f5f5;
}

.card-img {
  height: 150px;
  width: 150px;
  border-radius: 20px;
  object-fit: cover;
}

.project-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  text-transform: capitalize;
  position: relative;
}

.texts {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 5px;
}
*/ .card-button {
  border: none;
  padding: 5px 15px;
  background: #566270;
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease-in;
}
.card-button:hover {
  background: #e0e3da;
  color: #566270;
  cursor: pointer;
}
