.card-img {
  height: 150px;
  width: 150px;
  border-radius: 20px;
  object-fit: cover;
}

.project-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-transform: capitalize;
  position: relative;
}

.texts h2 {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 5px;
  color: white;
}

.texts p {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 5px;
  color: white;
}
.card-button {
  background-color: pink;
}
