@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-color: #010a01;
  --secondary-color: white;
  --third-color: #ef2d56;
}
* {
  font-family: "Roboto", sans-serif;
  min-height: 100%;
  margin-top: 0;
  padding: 0;
}
